.forget-password-page {
    height: 100vh;
}

.bg-light-green {
    background-color: #ebfaed;
}

.input-custom {
    background-color: #c8f8c8;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-dark-green {
    background-color: #0d6c00;
    color: white;
}

.object-fit-cover {
    object-fit: cover;
}
.main-container{
    padding: 53px;
    
}
.context-container{
    border-radius: 22px;
    border: 2px solid;
}
.btn-color{
    color: white;
    background-color: #0f8300;
}

.btn-color:hover{
    color: white;
    background-color: #0d6c00;
}